<div class="github-info">
  <iframe src="https://ghbtns.com/github-btn.html?user=DigitalPebble&repo=storm-crawler&type=star&count=true" frameborder="0" scrolling="0" width="105px" height="20px"></iframe>
  <iframe src="https://ghbtns.com/github-btn.html?user=DigitalPebble&repo=storm-crawler&type=watch&count=true&v=2" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
  <iframe src="https://ghbtns.com/github-btn.html?user=DigitalPebble&repo=storm-crawler&type=fork&count=true" frameborder="0" scrolling="0" width="101px" height="20px"></iframe>
</div>

<footer class="site-footer">
	&copy; 2024 <a href="http://digitalpebble.com/">DigitalPebble Ltd</a>
<p>Apache Storm, Apache Tika, Apache Nutch and Apache Maven and their respective logos are trademarks of the Apache Software Foundation. Elasticsearch is trademark of Elasticsearch BV, registered in the U.S. and in other countries. 
OpenSearch is trademark of Amazon.com.</p>

</footer>
